/* ============================================================================================
   Typography System
   ============================================================================================ */
.text-link-s {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-link-s);
  font-weight: bold;
  line-height: var(--base-row-unit);
  text-transform: uppercase;
}

.text-link-m {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-link-m);
  font-weight: bold;
  line-height: var(--base-row-unit);
  text-transform: uppercase;
}

.text-body-s-auto {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-s-auto-upper);
  font-weight: 400;
  line-height: normal;
}

.text-body-s-auto-upper {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-s-auto-upper);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.text-body-s-plus {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-s-plus);
  font-weight: 400;
  line-height: var(--base-row-unit);
}

.text-body-s-plus-auto {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-s-plus-auto);
  font-weight: 400;
  line-height: normal;
}

.text-body-m {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-m);
  font-weight: 400;
  line-height: var(--base-row-unit);
}

.text-body-m-plus {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-m-plus);
  font-weight: 400;
  line-height: var(--base-row-unit);
}

.text-body-m-plus-2 {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-m-plus-2);
  font-weight: 400;
  line-height: var(--base-row-unit);
}

.text-body-m-plus-2-upper {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-m-plus-2-upper);
  font-weight: 400;
  line-height: var(--base-row-unit);
  text-transform: uppercase;
}

.text-body-l {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-l);
  font-weight: 400;
  line-height: calc(var(--base-row-unit) * 2);
}

.text-body-icon-m {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-icon-m);
  font-weight: 400;
  line-height: var(--base-row-unit);
}

.text-body-icon-l {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-icon-l);
  font-weight: 400;
  line-height: var(--base-row-unit);
}

.text-heading-s {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-heading-s);
  font-weight: bold;
  line-height: calc(var(--base-row-unit) * 2);
}

.text-heading-m {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-heading-m);
  font-weight: bold;
  line-height: calc(var(--base-row-unit) * 2);
}

.text-heading-l {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-heading-l);
  font-weight: bold;
  line-height: calc(var(--base-row-unit) * 2);
}

.text-heading-xl {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-heading-xl);
  font-weight: bold;
  line-height: calc(var(--base-row-unit) * 3);
}